<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
</head>
<body>

<h2>Add user</h2>
<form th:method="POST" th:action="@{/admin/new}" th:object="${newUser}">
  <label for="login">Login</label>
  <input type="text" th:field="*{login}" id="login"/>
  <br/>
  <label for="password">Password</label>
  <input type="password" th:field="*{password}" id="password"/>
  <br/>
  <label for="firstName">First name</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br/>
  <label for="secondName">Second name</label>
  <input type="text" th:field="*{secondName}" id="secondName"/>
  <br/>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <input type="submit" value="Add"/>
  <input type="reset" value="Clear"/>
</form>

<hr/>

<form th:action="@{/admin/users}">
  <button>Back</button>
</form>

<form th:action="@{/logout}">
  <button th:style="'color: red'">Logout</button>
</form>

</body>
</html>